img{
    height: 450px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    background-color: aquamarine;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

h3{
    font-size: 25px;
}

ul{
    font-size: 20px;
}

.lasagna{
    color: brown;
}

.paneer{
    color: rgb(9, 151, 9);
}

.dal{
    color: rgb(211, 26, 26);
}